@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: #101822;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #3b4654;
    border-radius: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }

  /* Global scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #101822;
  }

  ::-webkit-scrollbar-thumb {
    background: #3b4654;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }
}